 /* Definir la fuente y el color de fondo de la pagina*/
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:   #f9fffd;
}

 .contenedor{
  display: flex;
  background-color: rgb(189, 84, 145);
  padding: 15px;
 }
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20xp;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
 }
 
nav{
    max-width: 1250px;
    margin: auto;
    background-color: #333;
    font-size: 15px;
    margin-top: 10px;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li > a{
    display: block;
    padding: 0px 10px;
    color: aqua;
    text-decoration: none;
}

.menu-horizontal > li:hover{
    background-color: red;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgb(0, 0, 0);
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color: black;
}

.menu-vertical li a{
display: block;
color: white;
padding: 15px 15px 15px 20px;
text-decoration: none;
}

 h1{
    color: rgb(0, 36, 5);
    font-size: 45px;
 
 }